.styled-select {
   width: 285;
   height: 34px;
   overflow: hidden;
   background: url(media/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   display: inline-block;
}

.styled-select select {
   background: transparent;
   width: 285px;
   padding: 5px;
   font-size: 16px;
   line-height: 1.1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}   
   
.ui-widget-content {padding: 10px;}
.ui-widget {font-size: 0.9em;} 

.content {
	width: 100%;
}
	
.legend {
	float:left;
	overflow: auto;
}

.ui-widget-header {
    height: 34px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 5px;
}

p.ui-widget-header {
    cursor: move;
    height: 17px;
}

#tabs-2 {height: 30px;}

body {background-color: #d2e1e7; }

.map {
	width: 400px;
    height: 250px;
    overflow: auto; 
	float: left;
}

.container {
	width: 400px;
	position: absolute;
}

.close-button {
    float: right;
}

#add-map { 

    float: left;

}

#toolbar {
    margin-left: auto;
	margin-right: auto;
	width: 1035px;
}

#header {
    height:80px;
}

#header div {
    float: left;
}

#map_toolbar {
	height: 35px;
}	

.selector {
    float: left;
}


.ui-button-text .ui-button-text-only {
	padding: 4px;
}

table {
    font-size: 0.8em;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
}

th {
    border-bottom-style: solid;
    border-width: 1px;
}

.logger-container {
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    z-index: -1;
}

.logger {
    overflow-y: auto;
    height: 160px;
    position: absolute;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

polyline {
    stroke: black;
    stroke-width: 2px;
}

.widget {
    width: 550px;
    position: absolute;
}

ul.ui-autocomplete {
    z-index: 5001 !important;
}
.result{
height:90%;
overflow:scroll;
margin: 4px;
}
.result table{
border:0px;
}




