.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(media/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   display: inline-block;
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}   
   
.ui-widget-content {padding: 10px;}
.ui-widget {font-size: 0.9em;} 

.content {
	width: 100%;
}
	
.legend {
	float:left;
	padding-right: 10px;
	overflow: auto;
}

.ui-widget-header {
    height: 34px;
    margin-top: 0px;
    text-align: center;
}

p.ui-widget-header {
    cursor: move;
    height: 17px;
}

#tabs-2 {height: 600px;}

body {background-color: #d2e1e7; }

.map {
	width: 400px;
    height: 250px;
    overflow: auto; 
	float: right;
}

.container {
	width: 400px;
	position: absolute;
}

.close-button {
    float: right;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

#add-map { 

    float: left;

}

#toolbar {
    margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#header {
    height:80px;
}

#header div {
    float: left;
}

#map_toolbar {
	height: 25px;
}	

#layer-selector {
	float: left;
}

#widget-selector {
	float: right;
}