.ui-widget-content {padding: 10px;}
.ui-button { float:right; }
.ui-widget {font-size: 0.9em;} 

.ui-widget-header {
    height: 34px;
    margin-top: 0px;
    text-align: center;
}

#tabs-2 {height: 600px;}

body {background-color: #d2e1e7; }

.map { width: 300px; height: 250px;}

.container {width: 300px;}
